<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="inid.lzh.blog.springbootblog.dao.UserMapper">
  <resultMap id="BaseResultMap" type="inid.lzh.blog.springbootblog.model.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pass" jdbcType="VARCHAR" property="pass" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="emil" jdbcType="VARCHAR" property="emil" />
    <result column="integral" jdbcType="INTEGER" property="integral" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="iconurl" jdbcType="VARCHAR" property="iconurl" />
    <result column="sigintype" jdbcType="VARCHAR" property="sigintype" />
    <result column="sigintime" jdbcType="VARCHAR" property="sigintime" />
    <result column="lastlogintime" jdbcType="VARCHAR" property="lastlogintime" />
    <result column="qqopenid" jdbcType="VARCHAR" property="qqopenid" />
    <result column="wecharopenid" jdbcType="VARCHAR" property="wecharopenid" />
  </resultMap>
</mapper>