<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="inid.lzh.blog.springbootblog.dao.UserAdminMapper">
  <resultMap id="BaseResultMap" type="inid.lzh.blog.springbootblog.model.UserAdmin">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="loginname" jdbcType="VARCHAR" property="loginname" />
    <result column="loginpass" jdbcType="VARCHAR" property="loginpass" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="emil" jdbcType="VARCHAR" property="emil" />
  </resultMap>
</mapper>